*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn1{
    color:rgba(0, 0, 0, 0.5)  ;
    background-color: white;
    border: none;
    height: 2rem ;
    width: 5rem;
}
.btn2{
    color:rgba(0, 0, 0, 0.501)  ;
    
    background-color: white;
    border: solid rgba(0, 0, 0, 0.453) 1px;
    border-radius: 8px;
    height: 2rem ;
    width: 75%;
}
nav{
    box-sizing: border-box;
    position: absolute;
    z-index: 1000;
    float: left;
    width: 0%;
    height: 150vh;
    text-align: left;
    background-color: white;
    margin-left: 100px;
    visibility: hidden;
}
.menu{
    margin-top: 5vh;
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
}
.logo-and-menu{
    margin: 3vh;
    display: flex;
    justify-content: space-between;
    
}
body{
    height: 120vh;
}
/* corpo do site */
main{
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
main .content-secondary{
    width: 100%;
    margin: 1;
    background-color: t;
}
main .content-secondary img{
    width: 100%;
    height: 45vh;
    margin: none;
}
main .content-primary{
    background-color:white;
}

.content-page, p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1.5vh;
    text-align: center;
}
.btn3{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border:1px solid black;
    height: 2.5rem;
    width: 7.5rem;
    margin: 20px;
}
.footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        background-color: white;
    }
.footer ul li img{
    width: 75px;
    height: 25px;

}
main .content-primary .content-page h1 br{
    display:none;
}
h1{
    font-size: 2.5em;
    font-weight:900;
}
.mainmenubtn {
    background-color: white;
    color:
    rgba(0, 0, 0, 0.426);
    border: none;
    cursor: pointer;
    padding:10px;
    margin: top 0px;
    display: flex;
    align-items:
    center;
    justify-content: space-between;
}
.mainmenubtn:hover {
    background-color: white;
    color: black;
    }

.dropdown {
    
    display: inline-block;
}
.dropdown-child {
    display: none;
    min-width: 125px;

    border: solid 1px white;
    border-radius: 5%;
    box-shadow: 7px 7px 7px 7px  rgba(0, 0, 0, 0.146);
    background-color: white;
}
.dropdown-child a {
    color: black;
    background-color: white;
    padding: 3px 12px;
    text-decoration: none;
  
    font-size: smaller;

    display: flex;
    justify-content: space-between;
   
    
}
.dropdown:hover .dropdown-child {
    display: block;
    position: absolute;
    box-shadow: 10px rgb(0, 0, 0);
}

    
/* Menu Hamburguer */
label, .hamburguer{
    display: block;
    position: relative;
    z-index:  1001;
}
label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}
#checkbox{
    position: absolute;
    opacity: 0;
  }
label span{
    position: absolute;
    display: block;
    height: 2px;
    width: 90%;
    border-radius: 30px;
    background: #321d50;
    transition: 0.25s ease-in-out;
}
label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  #checkbox:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  #checkbox:checked + label span:nth-child(2){
   opacity: 0;
  }
  #checkbox:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
  }
  #nav.active {
    width: 70%;
    visibility: visible;
    transition:  margin-left .3s;
    overflow: hidden;
    top: 0;
  }
.black1{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    
    display: block;
}
/* versão desktop*/
@media(min-width:768px){
    
    main .content-primary .content-page h1 br, header nav, .butt{
        display:block;
    }
    header,ul,.logo-and-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        color:rgba(0, 0, 0, 0.494)  ;
    }
    header{
        padding: 0rem 1rem 0rem 2rem;
        background-color: white;
    }
    nav{
        height: 90px;
        width:519.78px;
        margin-top: 0px;
        visibility: visible;
        
    
    }
    main{
        flex-direction: row;
        justify-content: space-between; 
        height: 90vh;
        width: 223vh;
        padding:  3rem 3rem 4rem 10rem ;
        margin-bottom: 10vh;
    }
    .img{
        margin: 19vh 25vh 0vh 0vh;
    }
    .content-primary{
        height: 55vh;
        width: 100vh;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        
    }
    .content-primary p{
        color: rgba(0, 0, 0, 0.648);
        font-size: larger;
        font-weight: 100;
        padding-right: 20vh;
        padding-bottom: 2vh;
        text-align: start;
    }
    .content-page{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }
    .content-page h1{
        font-size: 5rem;
        font-weight: 1000;
        width: 100vh;
        padding: 10vh 0vh 6vh 0vh;
    }
    .content-secondary{
        width: 100%;
        height: 80vh;
        background-color: white;
    }
    main .content-secondary img{
        width: 99%;
        height: 90vh;
    }
    .footer{
        width: 100%;
        margin-top: 9vh;
        padding:  none ;
        padding: 5vh 3vh 0vh 0vh;
        margin-left: 0%;
    
        display: flex;
        justify-content: flex-start;
    }
    .footer ul {
        margin-left:  3vh;
        width: 80%;
    }
    .menu{
        margin-left: 3vh;
        display: flex;
        flex-direction: row;
    }
    .logo{
        padding-top: 1rem;
    }
     ul{ 
       margin: 0%;
    }
    nav button{
        margin:  0.5rem 1.5rem 0.5rem   1.5rem;
        list-style: none;
        font-weight: 100;

    }
    .mainmenubtn {
        background-color: white;
        color:rgba(0, 0, 0, 0.426);
        border: none;
        cursor: pointer;
        padding:10px;
        margin: top 0px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        
    }
   
    .buttons{
        display: flex;
        flex-direction: row;
        margin-left: 40rem;
        margin-bottom: 0.5rem;
    }
  
    .btn1{
        color:rgba(0, 0, 0, 0.5)  ;
        background-color: white;
        border: none;
        height: 2rem ;
        width: 5rem;
    }
    .btn2{
        color:rgba(0, 0, 0, 0.501)  ;
        
        background-color: white;
        border: solid rgba(0, 0, 0, 0.453) 1px;
        border-radius: 8px;
        height: 2rem ;
        width: 5rem;
    }
    .btn3{
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        border:1px solid black;
        height: 2.5rem;
        width: 7.5rem;
        margin: 5vh 0vh 0vh 0vh ;    
    }
    ul li,.btn1,.btn2,.btn3:hover{
        cursor: pointer;
    }
    .btn1:active,.btn2:active{
        color:rgb(0, 0, 0)  ;
        
        background-color: white;
        border: solid rgb(0, 0, 0) 1px;
        border-radius: 8px;
    }
    .btn3:active{
        background-color: white;
        color: black;
        
    }
    ul li:active{
        color: black;
    }
    .mainmenubtn:hover {
        background-color: white;
        color: black;
        }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-child {
        display: none;
        min-width: 125px;
        border: solid 1px white;
        border-radius: 5%;
        box-shadow: 7px 7px 7px 7px  rgba(0, 0, 0, 0.146);
        background-color: white;
    }
    .dropdown-child a {
        color: black;
        background-color: white;
        padding: 3px 12px;
        text-decoration: none;
        display: block;
        font-size: smaller;
    
        display: flex;
        justify-content: space-between;
       
        
    }
    .dropdown:hover .dropdown-child {
        display: block;
        position: absolute;
        box-shadow: 10px rgb(0, 0, 0);
    }
    label, .hamburguer{
        display: none;
    }
    .black1{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        
        display: none;
    }
        
}